{% load static %}
<!DOCTYPE html>
<html>
<!-- CSS -->
<link rel="stylesheet" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">


<!-- JavaScript -->
<script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script> 

<head>

    <title>Sumer'app v1.0</title>

</head>


<body>

    <nav class="navbar navbar-light bg-light static-top">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Sumer'App v1.0</a>
        </div>
    </nav>
         
    <form action={%url 'accueil' %} method="post">
        {% csrf_token %}
        <section class="features-icons bg-light text-center">
            <div class="container-fluid">
                <div class="row">
                <div class="col-xl">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <h3>Texte Original</h3>
                        <textarea class="col-xl" id="url" name="input_texte" rows="20" cols="33" value="Coller votre texte">{{input_texte}}</textarea>
                    </div>
                </div>

                <div class="col-xl">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <h3>Texte Résumé</h3>
                        <textarea class="col-xl" id="url2" name="output_texte" rows="20" cols="33" value="mon texte">{{summary_text}}</textarea>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <div class="container-fluid">
            <p class="lead mb-0">Je veux garder <input type="number" id="ratio" name="ratio_percent" min="1" max="100" value="{{ratio_percent}}"> % de mon texte </p>
        </div>
        <br>
        <div class="container-fluid">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Résumer le texte</button>
        </div>
    </form>




</body>